<!DOCTYPE html>
<html>
<head>
    <title>Saints Visualizations</title>
</head>
<body>>
        <div class="carousel rounded-box w-full" style="max-width: 900px; margin: 0 auto;">
            <div class="carousel-item w-full" style="padding: 2rem;">
                <div class="card bg-base-300 rounded-box grid grow place-items-center" style="padding: 1rem;">
                    <h2>Births by Region</h2>
                    {{ births_pie_html|safe }}
                </div>
            </div>
            <div class="carousel-item w-full" style="padding: 2rem;">
                <div class="card bg-base-300 rounded-box grid grow place-items-center" style="padding: 1rem;">
                    <h2>Deaths by Region</h2>
                    {{ deaths_pie_html|safe }}
                </div>
            </div>
            <div class="carousel-item w-full" style="padding: 2rem;">
                <div class="card bg-base-300 rounded-box grid grow place-items-center" style="padding: 1rem;">
                    <h2>Saints Birth to Death Locations</h2>
                    {{ saint_lines_html|safe }}
                </div>
            </div>
        </div>
</body>
</html>
